body {
  font-family: "Montserrat", sans-serif;
}

.title-principal {
  font-size: 4rem;
  font-weight: 600;
}

.title-secundary {
  font-size: 2.5rem;
  font-weight: 600;
}

.paragraph-principal {
  font-size: 1.6rem;
  font-weight: 400;
}

.paragraph-secundary {
  font-size: 1.4rem;
  font-weight: 300;
}
