/*
0 - 600px:      phone
600 - 900px:    tablet portrait
900 - 1200px:   tablet landscape
1200 - 1800px:  normal style
1800px +:       Big desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Nunito sans", sans-serif; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 45%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

.app {
  display: flex;
  font-size: 1.6rem; }

body {
  font-family: "Montserrat", sans-serif; }

.title-principal {
  font-size: 4rem;
  font-weight: 600; }

.paragraph-principal {
  font-size: 1.6rem;
  font-weight: 400; }

.paragraph-secundary {
  font-size: 1.4rem;
  font-weight: 300; }

.content {
  margin: 6.5rem 5rem 0 5rem;
  flex: 1 1 90vw; }

.notes-container {
  margin-top: 3.5rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-auto-rows: 30vh; }

.note {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #73cac4;
  border-radius: 0.7rem;
  padding: 1rem; }
  .note__deleteButton {
    align-self: flex-end;
    margin: 0.5rem; }
  .note__bottomElements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    position: absolute;
    bottom: 2rem; }
  .note__editButton {
    font-size: 1.2rem;
    align-self: flex-end;
    justify-items: flex-end;
    padding: 1rem;
    color: #fff;
    background-color: #000;
    border-radius: 1000px; }

.sidebar {
  flex: 0 0 8vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f3f3f3;
  padding: 1.5rem;
  align-items: center; }
  .sidebar__logo {
    font-weight: 600;
    font-size: 1.5rem; }
  .sidebar__addButton {
    font-size: 2.8rem;
    padding-top: 4rem; }
