/*
0 - 600px:      phone
600 - 900px:    tablet portrait
900 - 1200px:   tablet landscape
1200 - 1800px:  normal style
1800px +:       Big desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Nunito sans", sans-serif; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 45%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

.app {
  display: flex;
  font-size: 1.6rem; }

body {
  font-family: "Montserrat", sans-serif; }

.title-principal {
  font-size: 4rem;
  font-weight: 600; }

.title-secundary {
  font-size: 2.5rem;
  font-weight: 600; }

.paragraph-principal {
  font-size: 1.6rem;
  font-weight: 400; }

.paragraph-secundary {
  font-size: 1.4rem;
  font-weight: 300; }

.content {
  margin: 6.5rem 5rem 0 5rem;
  flex: 1 1 90vw; }
  .content__messageEmpty {
    margin-top: 3rem; }

.notes-container {
  margin-top: 3.5rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, 28rem);
  grid-auto-rows: 30vh; }
  @media (max-width: 37.5em) {
    .notes-container {
      grid-template-columns: repeat(auto-fit, 80%); } }

.empty-state {
  display: flex;
  flex-direction: column; }
  .empty-state__ilustration {
    margin-top: 12vh;
    margin-left: -10rem;
    width: 32vw;
    align-self: center; }
    @media only screen and (max-width: 56.25em) {
      .empty-state__ilustration {
        margin-top: 10vh;
        width: 62vw; } }
    @media (max-width: 37.5em) {
      .empty-state__ilustration {
        margin-top: 8vh;
        width: 75vw; } }

.inputModal {
  padding: 3rem;
  background-color: white;
  border-radius: 1rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-self: center;
  left: 50%;
  transform: translateX(-50%);
  width: 40vw;
  height: 50vh;
  z-index: 2; }
  @media only screen and (max-width: 56.25em) {
    .inputModal {
      width: 70vw; } }
  @media (max-width: 37.5em) {
    .inputModal {
      width: 80vw; } }
  .inputModal__textArea {
    height: 35%;
    width: 100%;
    resize: none;
    padding: 1rem; }
  .inputModal__label {
    margin-bottom: 0.8rem;
    margin-top: 1.2rem; }
  .inputModal__radio div {
    display: inline-block; }
  .inputModal__radio input[type="radio"] {
    display: none; }
    .inputModal__radio input[type="radio"] + label span {
      display: flex;
      width: 3rem;
      height: 3rem;
      margin: -1px 4px 0 0;
      vertical-align: middle;
      cursor: pointer;
      border-radius: 50%;
      border: 1px solid #ffffff;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
      background-repeat: no-repeat;
      background-position: center;
      text-align: center;
      line-height: 3.4rem; }
      @media only screen and (max-width: 56.25em) {
        .inputModal__radio input[type="radio"] + label span {
          width: 4rem;
          height: 4rem; } }
      .inputModal__radio input[type="radio"] + label span img {
        margin-left: 0.5rem;
        opacity: 0;
        transition: all 0.3s ease; }
    .inputModal__radio input[type="radio"]#color-1 + label span {
      background-color: #73cac4; }
    .inputModal__radio input[type="radio"]#color-2 + label span {
      background-color: #e3e546; }
    .inputModal__radio input[type="radio"]#color-3 + label span {
      background-color: #f69dbb; }
    .inputModal__radio input[type="radio"]#color-4 + label span {
      background-color: #fbad4b; }
    .inputModal__radio input[type="radio"]:checked + label span img {
      opacity: 1; }
  .inputModal__closeButton {
    position: absolute;
    align-self: flex-end;
    cursor: pointer; }
  .inputModal__button {
    align-self: flex-end;
    justify-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    border-radius: 10rem;
    height: 3.5rem;
    cursor: pointer;
    transition: all 0.3s;
    padding: 1rem 4rem; }
    @media only screen and (max-width: 56.25em) {
      .inputModal__button {
        width: 30vw;
        align-self: center;
        margin-top: 4rem;
        padding: 2rem; } }
    @media (max-width: 37.5em) {
      .inputModal__button {
        width: 50vw; } }
  .inputModal__button:hover {
    background-color: #73cac4;
    color: #000; }

.backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; }

.visible {
  display: flex; }

.hidden {
  display: none; }

.note {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.7rem;
  padding: 1rem; }
  .note__deleteButton {
    align-self: flex-end;
    margin: 0.5rem;
    cursor: pointer;
    transition: all 0.3s; }
  .note__deleteButton:hover {
    transform: rotate(-180deg); }
  .note__bottomElements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    position: absolute;
    bottom: 2rem; }
  .note__editButton {
    font-size: 1.2rem;
    align-self: flex-end;
    justify-items: flex-end;
    padding: 1rem;
    color: #fff;
    background-color: #000;
    border-radius: 1000px; }

.backgroundColor_cyan {
  background-color: #73cac4; }

.backgroundColor_green {
  background-color: #e3e546; }

.backgroundColor_pink {
  background-color: #f69dbb; }

.backgroundColor_orange {
  background-color: #fbad4b; }

.sidebar {
  flex: 0 0 8vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f3f3f3;
  padding: 1.5rem;
  align-items: center; }
  .sidebar__logo {
    font-weight: 600;
    font-size: 1.5rem; }
  .sidebar__addButton {
    font-size: 2.8rem;
    padding-top: 4rem;
    cursor: pointer;
    transition: all 0.2s; }
  .sidebar__addButton:hover {
    font-size: 3.2rem;
    color: #73cac4; }
