.note {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.7rem;
  padding: 1rem;

  &__deleteButton {
    align-self: flex-end;
    margin: 0.5rem;
    cursor: pointer;
    transition: all 0.3s;
  }

  &__deleteButton:hover {
    transform: rotate(-180deg);
  }

  &__bottomElements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    position: absolute;
    bottom: 2rem;
  }

  &__editButton {
    font-size: 1.2rem;
    align-self: flex-end;
    justify-items: flex-end;
    padding: 1rem;
    color: $white;
    background-color: $black;
    border-radius: 1000px;
    cursor: pointer;
  }
}

.backgroundColor_cyan {
  background-color: $postit-cyan;
}
.backgroundColor_green {
  background-color: $postit-green;
}
.backgroundColor_pink {
  background-color: $postit-pink;
}
.backgroundColor_orange {
  background-color: $postit-orange;
}
