.notes-container {
  margin-top: 3.5rem;

  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, 28rem);
  grid-auto-rows: 30vh;

  @include respond(phone) {
    grid-template-columns: repeat(auto-fit, 90%);
  }
}
