<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://unpkg.com/vue@next" defer></script>
    <script type="module" src="js/app.js" defer></script>

    <title>Vue PostIt</title>
</head>
<body>
    <Section class="app" id="vueInteractivity">
        <div class="backdrop" @click="toggleModal()" :class="visible"></div>
        <div class="inputModal" :class="visible">
            <i class="inputModal__closeButton fas fa-times" @click="toggleModal()"></i>
            <div class="inputModal__title title-secundary">Add a note</div>
            <label for="textarea" class="inputModal__label">Note:</label>
            <textarea placeholder="Put your thoughts in a note..." name="textarea" class="inputModal__textArea" maxlength="150" minlength="5" v-model="userTextInput"></textarea>

            <label for="color" class="inputModal__label">Color:</label>
            <div class="inputModal__radio">
                <div>
                    <input type="radio" id="color-1" name="color" value="cyan" checked v-model="userColorInput">
                    <label for="color-1">
                        <span>
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                        </span>
                    </label>
                </div>
            
                <div>
                    <input type="radio" id="color-2" name="color" value="green" v-model="userColorInput">
                    <label for="color-2">
                        <span>
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                        </span>
                    </label>
                </div>
            
                <div>
                    <input type="radio" id="color-3" name="color" value="pink" v-model="userColorInput">
                    <label for="color-3">
                        <span>
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                        </span>
                    </label>
                </div>
            
                <div>
                    <input type="radio" id="color-4" name="color" value="orange" v-model="userColorInput">
                    <label for="color-4">
                        <span>
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="inputModal__button" @click="addNote()">Add note</div>
        </div>
        <section class="sidebar">
            <p class="sidebar__logo">Vue PostIt</p>
            <i class="sidebar__addButton fas fa-plus-circle" @click="toggleModal()" ></i>
        </section>
        <section class="content">
            <h1 class="title-principal">My Notes</h1>
            <div v-if="notes.length === 0">
                <h2 class="title-secundary content__messageEmpty">Hey! add some notes don't be shy!</h2>
            </div>
            <div v-else class="notes-container">
                <div v-for="(note, index) in notes" class="note" :class="`backgroundColor_${note.color}`">
                    <i class="note__deleteButton fas fa-times" @click="deleteNote(index)"></i>
                    <p class="paragraph-principal">{{note.text}}</p>
                    <div class="note__bottomElements">
                        <p class="paragraph-secundary">{{note.date}}</p>
                        <i class="note__editButton fas fa-pen"></i>
                    </div>
                </div>               
            </div>
        </section>
    </Section>
    
</body>
</html>